<style>
  .btn-search {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
  }
  .btn-search:hover {
    background-color: #fe424d;
    color: #fff;
  }
  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }
  .search-ip {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }
  .offcanvas-title {
    background-color: #fe424d;
    color: white;
  }
</style>

<!-- Offcanvas Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-regular fa-compass"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Offcanvas Component -->
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="navbarCollapse"
      aria-labelledby="navbarCollapseLabel"
    >
      <div class="offcanvas-header offcanvas-title">
        <h5 id="navbarCollapseLabel">Wanderlust</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link" href="/listings">Explore</a>
        </div>
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <form class="d-flex" role="search" action="/listings" method="GET">
            <input
              class="form-control me-2 search-ip"
              type="search"
              name="query"
              placeholder="Search location"
              value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>"
              required
            />
            <button class="btn btn-search" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i> <span>Search</span>
            </button>
          </form>
        </div>
        <div class="navbar-nav">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
          <% if(!currUser){ %>
          <a class="nav-link" href="/signup"><b>SignUp</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
          <% } %> <% if(currUser){ %>
          <a class="nav-link" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>
