<%- layout("/layouts/boilerplate") %>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <h1 class="col-12 text-center mb-4">SignUp on Wanderlust</h1>
      <div class="col-12 col-md-6">
        <form action="/signup" method="post" class="needs-validation" novalidate>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              name="username"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Username is required</div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              id="email"
              name="email"
              type="email"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Email is required</div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              id="password"
              name="password"
              type="password"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Password is required</div>
          </div>
          <div class="mb-3 text-center">
            <button class="btn btn-success w-100">SignUp</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
